<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key ="FromEmail" value ="BCDataError@Toyota-Kirloskar.co.in"/>
    <add key ="ToEmails" value ="tf_sandesha@toyota-kirloskar.co.in,TF_AvinashDesai@toyota-kirloskar.co.in,"/>
    <add key ="StatusEmails" value ="TF_AvinashDesai@toyota-kirloskar.co.in,"/>
    <!--<add key ="ToEmails" value ="tf_sanith@toyota-kirloskar.co.in,tf_sandesha@toyota-kirloskar.co.in,tf_satishkumar@toyota-kirloskar.co.in,TF_AvinashDesai@toyota-kirloskar.co.in,tf_manjunathachar@toyota-kirloskar.co.in,tf_kishor@toyota-kirloskar.co.in,"/>-->
    <add key ="Subject" value ="Socket Listener Information For Application PPDS #1 "/>
    <add key ="SMTP" value ="192.168.61.200"/>
    <add key ="PortNO" value ="25"/>
    <add key ="StatusMail" value =" This is to inform that the PPDS P#1 Socket Listener has been "/>
    <add key ="ApplicationLog" value ="D:\Application Logs\PPDS Socket Log\ApplicationLog.txt"/>
    <add key ="DataLog" value ="D:\Application Logs\PPDS Socket Log\Data Log"/>
  </appSettings>

  <connectionStrings>
    <add name="SocketDataConnectionString" connectionString="Data Source=192.168.243.148;Initial Catalog=PPDS;User ID=UPNLPPDS;Password=Passw0rd@1" />
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>
